extends layout

block content
  h1 Login
  form(name="login", action="/login", method="post")
    div
      label(for="username") Username:
      input(type="text", id="username", name="username")
    div
      label(for="password") Password:
      input(type="password", id="password", name="password")
    input(type="submit" value="Login")
