body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pad-right-sm {
  padding-right: 5px;
}

.pad-right-md {
  padding-right: 15px;
}
.pad-right-lg {
  padding-right: 25px;
}
